@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-color: hsl(210, 46%, 95%);
}

/* to center the body */
html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
}
/* top style is to center the body */

.img-res {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  background-position: center center;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4% 3%;
  display: flex;
  gap: 1.5rem;
}

.main-container .left {
  flex-basis: 75%;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.main-container .left .left-first {
  display: flex;
  flex-basis: 50%;
  gap: 1.5rem;

}
.main-container .left .left-second {
  display: flex;
  flex-basis: 50%;
  gap: 1.5rem;
}
.main-container .right {
  flex-basis: 25%;
  align-self: stretch;
  display: flex;
}

.testimonial-1 {
  background-color: hsl(263, 55%, 52%);
  flex-basis: 70%;
}
.testimonial-2 {
  background-color: hsl(217, 19%, 35%);
  flex-basis: 30%;
}
.testimonial-3 {
  background-color: #fff;
  flex-basis: 30%;
}
.testimonial-4 {
  background-color: hsl(219, 29%, 14%);
  flex-basis: 70%;
}
.testimonial-5 {
  background-color: #fff;
}

.testimonial-box {
  padding: 18px 25px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.testimonial-box .img-cont {
  height: 35px;
  width: 35px;
}
.testimonial-box .profile {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  gap: 0.7rem
}
.testimonial-box .profile .name {
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.7px;
}
.testimonial-box .profile .designation {
  font-size: 12px;
  color: hsl(0, 0%, 81%);
  font-weight: 500;
}
.testimonial-5 .profile .name, .testimonial-3 .profile .name, .testimonial-5 h1.title ,.testimonial-3 h1.title  {
  color: black
}

.testimonial-box .title {
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.3px;
}

.testimonial-box .desc {
  color: hsl(0, 0%, 81%);
  font-size: 13.5px;
  font-weight: 500;
  letter-spacing: 0.2px;
}

